.Header {
  margin-bottom: 3rem;
}
.reservationBody {
  border-bottom: 1px dashed #ccc;
}
.reservations {
  list-style-type: none;
  padding: 0;
}
.name {
  font-weight: bold;
  margin-top: 0.7rem;
}
.dateForReservationList {
  margin-top: 0.3rem;
  margin: 1.5rem;
  margin-left: 0;
  color: #808080;
}
.details {
  margin-top: 0.3rem;
  color: red;
  text-decoration-color: red;
}
.linkForViewDetails {
  text-decoration-color: red;
}

@media only screen and (min-width: 40rem) {
  .reservationBody {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100%;
    margin: 1rem;
  }
  .name {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .dateForReservationList {
    justify-self: center;
    margin-top: 1rem;
  }
  .details {
    margin-left: 1.15rem;
    margin-top: 1rem;
  }
}
