.reservation {
  margin-bottom: 3rem;
  padding-bottom: 2rem;
  border-bottom: 1px dashed #ccc;
}
.restaurantName {
  font-weight: bold;
  font-size: 1.25rem;
  padding-left: 0rem;
}
.date {
  margin: 1.5rem;
  margin-left: 0;
}
.partySize {
  font-weight: bold;
}
.backButton {
  justify-self: start;
  text-decoration: none;
  color: black;
  background-color: #d3d3d3;
  border-radius: 0.5rem;
  padding: 0.8rem;
}
