.restaurants {
  list-style-type: none;
  padding: 0.5rem;
}

.restaurantBody {
  margin-bottom: 3rem;
  padding: 1rem;
  background-color: white;
}
.restaurantName {
  margin-top: 0.2rem;
}

.restaurantDescription {
  margin-top: 0.4rem;
}
.link {
  text-decoration: none;
}
.reserveNow {
  background-color: red;
  border: none;
  border-radius: 0.5rem;
  color: white;
  padding: 0.85rem 1.6rem;
  text-align: center;
  font-size: 1.1rem;
  display: inline-block;
  margin-top: 1rem;
}

@media only screen and (min-width: 40rem) {
  .restaurantBody {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .restaurantImage {
    grid-column: 1/2;
  }
  .restaurantName {
    grid-column: 2/4;
    grid-row: 1/2;
    padding-left: 1rem;
    margin-top: 0rem;
  }
  .restaurantDescription {
    grid-column: 2/4;
    grid-row: 1/2;
    margin-top: 2.5rem;
    padding-left: 1rem;
  }
  .link {
    grid-column: -2/-1;
  }
  .reserveNow {
    margin-left: 1rem;
  }
}
