.restaurantContainer {
}

.restaurants {
  list-style-type: none;
  padding: 0.5rem;
}

.restaurantBody {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: white;
}

.restaurantImage {
}

.restaurantName {
  margin-top: 0.2rem;
}

.restaurantDescription {
  margin-top: 0.4rem;
}
.link {
  text-decoration: none;
}
.reserveNow {
  background-color: red;
  border: none;
  border-radius: 0.5rem;
  color: white;
  padding: 0.85rem 1.6rem;
  text-align: center;
  font-size: 1.1rem;
  display: inline-block;
  margin-top: 1rem;
}

@media only screen and (min-width: 30rem) {
}
